<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <!--<target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />-->
    <!--<target name="file" xsi:type="File" fileName="${basedir}\ErrorLogs\GEEError-${shortdate}.log" layout="${longdate} ${stacktrace} ${message}" />-->
    <!--<target name="file" xsi:type="File" fileName="D:\gg\GlobalEduERP\GEE.API\ErrorLogs\Log.txt"  layout="${longdate} ${level} ${message}" />-->

    <target name="file" xsi:type="File"  fileName="${basedir}\ErrorLogs\GEEError-${shortdate}.log"  layout="      
            --------------------- ${level}(${longdate})${machinename}-------------------- ${newline}      
            ${newline}      
            Exception Type:${exception:format=Type}${newline}      
            Exception Message:${exception:format=Message}${newline}      
            Stack Trace:${exception:format=Stack Trace}${newline}      
            Additional Info:${message}${newline}      
            ">
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>